<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JavascriptCore_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFF8D45A1DC32FE50024685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF8D4731DC32FE50024685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF8D47E1DC32FE50024685B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
